
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@300;400;700&display=swap');



#serve {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 40px;
    font-family: "Montserrat",sans-serif;
    
}

#serve .col-1 {
    line-height: 1.5rem;
    text-align: left;
}
#serve .col-2 {
    line-height: 1.5rem;
    text-align: left;
}
#serve .col-3 {
    line-height: 1.5rem;
    text-align: left;
}
#serve .col-1 > div {
    background: url("https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg") no-repeat center center;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#serve .col-2 > div {
    background: url("https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg") no-repeat center center;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#serve .col-3 > div {
    background: url("https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg") no-repeat center center;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#serve .col-1 h3 {
    padding-top: 20px;
}
#serve .col-1 p {
    padding: 20px 70px 20px 0px;
    font-size: 16px;
}
#servie .col-2 h3 {
    padding-top: 20px;
}
#serve .col-2 p {
    padding: 20px 70px 20px 0px;
    font-size: 16px;
}
#serve .col-3 h3 {
    padding-top: 20px;
}
#serve .col-3 p {
    padding: 20px 70px 20px 0px;
    font-size: 16px;
}
